<div class='panel panel-default phone-verification no-margin-bottom'>
    <div class='panel-body'>
        <form username='verificationForm' ng-submit='save()'>
            <div class='form-group'>
                <div class='margin-bottom' localized>Amount</div>
                <input type='number' class='form-control'
                       ng-model='paymentRequest.amount' placeholder='Enter amount'
                       required/>
            </div>

            <div class='form-group'>
                <div class='margin-bottom' localized>Due date</div>
                <input type="text"
                       class="form-control"
                       ng-model="paymentRequest.dueDate"
                       placeholder="Due date"
                       datepicker-popup="MM.dd.yyyy"
                       show-button-bar="false"
                       is-open="dueDateOpened"
                       ng-click='dueDateOpened = !dueDateOpened'/>
            </div>

            <div class='form-group'>
                <div class='margin-bottom' localized>Note</div>
                <textarea class='form-control'
                          ng-model='paymentRequest.note'
                          placeholder='Enter your note'
                          rows="3"></textarea>
            </div>

            <div class='right-align'>
                <button type="button"
                        class='btn btn-default'
                        ng-click="close()"
                        localized>Cancel</button>

                <button type='submit' class='btn btn-default'
                        ng-disabled='!paymentRequest.amount || !paymentRequest.dueDate'
                        localized>Save</button>
            </div>
        </form>
    </div>
</div>

