<div class="popup-cont">

    <div align="right">
        <a class="close_modal" ng-click="close()">X</a>
    </div>

    <div>
        <p class='popup-title'>Please enter new password</p>
        <p><input
                ng-model='password'
                type="password" placeholder="Password"></p>
        <p><input
                ng-model='confirm'
                type="password" placeholder="Retype password"></p>

        <p><input type="button"
                  ng-click='changePassword()'
                  ng-disabled='!password || !confirm || password !== confirm'
                  value="Change password"
                  class="form-submit"></p>

    </div>

</div>
