<div class="popup-cont">

    <div align="right">
        <a class="close_modal" ng-click="close()">X</a>
    </div>

    <div>
        <p class='popup-title'>Please enter your email and we will send you password recovery instructions</p>
        <p><input
                ng-model='email'
                type="text" placeholder="Enter your email"></p>

        <p><input type="button"
                  ng-click='recoverPassword()'
                  ng-disabled='!email'
                  value="Recover"
                  class="form-submit"></p>
    </div>

</div>