<div class='panel panel-default phone-verification no-margin-bottom'>
    <div class='panel-body'>
        <form username='verificationForm' ng-submit='save()'>
            <div class='form-group'>
                <div class='margin-bottom' localized>lists.name</div>
                <input type='text' class='form-control' id='code'
                       ng-model='name' localized-placeholder='lists.name.placeholder'
                       required/>
            </div>

            <div class='right-align'>
                <button type='submit' class='btn btn-default'
                        ng-disabled='!name'
                        localized>lists.modal.save</button>

                <button class='btn btn-default'
                        ng-click="close()"
                        localized>lists.modal.cancel</button>


            </div>
        </form>
    </div>
</div>

