<div class='panel panel-default phone-verification no-margin-bottom'>
    <div class='panel-body'>
        <form>
            <div class='form-group'>
                <label for='status' localized>Status</label>
                <select class='form-control'
                        id='status'
                        ng-model='noteStatus'>
                    <option ng-selected='noteStatus == 0' value='0' localized>note.status.0</option>
                    <option ng-selected='noteStatus == 1' value='1' localized>note.status.1</option>
                    <option ng-selected='noteStatus == 2' value='2' localized>note.status.2</option>
                    <option ng-selected='noteStatus == 3' value='3' localized>note.status.3</option>
                    <option ng-selected='noteStatus == 4' value='4' localized>note.status.4</option>
                    <option ng-selected='noteStatus == 5' value='5' localized>note.status.5</option>
                    <option ng-selected='noteStatus == 6' value='6' localized>note.status.6</option>
                    <option ng-selected='noteStatus == 7' value='7' localized>note.status.7</option>
                    <option ng-selected='noteStatus == 8' value='8' localized>note.status.8</option>

                </select>
            </div>

            <div class='form-group'>
                <label for='note' localized>Note</label>
                <textarea class='form-control' id='note'
                          rows="5"
                          ng-model='note'
                          localized-placeholder='Enter user note'></textarea>
            </div>

            <div class='right-align'>
                <button class='btn btn-default'
                        ng-click='close()'
                        ng-disabled='loading'
                        localized>lists.modal.cancel</button>

                <button ng-click='save()'
                        class='btn btn-default'
                        ng-disabled='loading'
                        localized>Save</button>
            </div>
        </form>
    </div>
</div>

