<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class='content-with-max-width'>
                <div class='margin-bottom'>
                    <input class='form-control lists-search'
                           ng-model='config.searchValue'
                           ng-change='searchByValue()'
                           localized-placeholder='dashboard.lists.search.list' >
                </div>

                <table class='table'>
                    <thead>
                    <tr>
                        <th class='pointer nowrap'
                            ng-click='sortByField( "name" )'>
                            <span localized>lists.name</span>
                            <span ng-if='config.sortValue === "name" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "name" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "type" )'>
                            <span localized>lists.type</span>
                            <span ng-if='config.sortValue === "type" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "type" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "tableName" )'>
                            <span localized>Table name</span>
                            <span ng-if='config.sortValue === "tableName" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "tableName" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "cnt" )'>
                            <span localized>lists.count</span>
                            <span ng-if='config.sortValue === "cnt" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "cnt" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "date" )'>
                            <span localized>lists.date</span>
                            <span ng-if='config.sortValue === "date" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "date" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th localized
                            ng-class='{"actions-column-4": allowTransferToSuppression,
                                       "actions-column-3": !allowTransferToSuppression}'>lists.actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='list in lists'>
                        <td>{{list.name}}</td>
                        <td>{{getLocalizedListType(list)}}</td>
                        <td>{{getFormattedTableName(list.tableName)}}</td>
                        <td class='pointer'
                            tooltip-append-to-body="true"
                            tooltip='Click here to view detailed request information'
                            tooltip-popup-delay='500' ng-click='getCountDetails(list)'>{{list.cnt}}</td>
                        <td>{{getDate(list.date) | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                        <td>
                            <button type='button'
                                    tooltip='Click this button to purchase some records from this list'
                                    tooltip-popup-delay='500'
                                    class='btn btn-default' ng-click='buyList( list )'>
                                <span class='glyphicon glyphicon-shopping-cart'></span>
                            </button>
                            <button type='button'
                                    tooltip='Click this button to rename your list and view search parameters'
                                    tooltip-popup-delay='500'
                                    class='btn btn-default' ng-click='editList( list )'>
                                <span class='glyphicon glyphicon-pencil'></span>
                            </button>
                            <button type='button'
                                    tooltip='Click this button to remove this list'
                                    tooltip-popup-delay='500'
                                    class='btn btn-default' ng-click='removeList( list )'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                            <button ng-if='allowTransferToSuppression && (!transferInProgress || transferListId != list.id)'
                                    type='button'
                                    tooltip='Click this button to transfer phone numbers from this list to suppression'
                                    tooltip-popup-delay='500'
                                    class='btn btn-default' ng-click='transferToSuppression( list )'>
                                <span class='glyphicon glyphicon-paste'></span>
                            </button>
                            <img class='loading-gif-margin'
                                 ng-if='allowTransferToSuppression && (transferInProgress && transferListId == list.id)'
                                 src='/assets/images/loading.gif'>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div ng-if='lists && lists.length === 0' class='center'>
                    <span localized>lists.empty.message</span>
                </div>

                <div ng-if='total > config.limit || true' class='right'>
                    <pagination boundary-links='true' class='pagination-sm'
                                max-size='3'
                                ng-change='search()'
                                ng-model='config.page'
                                total-items='total'
                                items-per-page='config.limit'
                                previous-text='&lsaquo;'
                                next-text='&rsaquo;'
                                first-text='&laquo;'
                                last-text='&raquo;'></pagination>
                </div>
            </div>
        </div>
    </div>
</div>