<div class='padding-top'>
    <div class='col-sm-12'>
        <input class='form-control col-sm-12 margin-bottom'
               localized-placeholder='Search'
               ng-model='searchConfig.search'/>

        <div>
            <div class='col-sm-4' ng-repeat='item in filtered = (interests | filter: {title: searchConfig.search}) | orderBy: "title"| limitTo: searchConfig.limit'>
                <input class='left' id='{{item.value}}' ng-model='selectedProperties[item.title + "|" + item.value]' type='checkbox'/>
                <label class='pointer tiny-label interests-label' for='{{item.value}}'>{{item.title}}</label>
            </div>

            <div class='center margin-bottom load-more'
                 ng-if='searchConfig.limit < filtered.length'>
                <a class='pointer tiny-link'
                   ng-click='loadMore()'
                   localized>load.more</a>
            </div>
        </div>
    </div>
</div>