<div class='padding-top'>
    <div class='col-sm-12'>
        <input id='ages_18' ng-model='selectedAges[ "18 - 24|1" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_18' localized>ages.18</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_25' ng-model='selectedAges[ "25 - 34|2" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_25' localized>ages.25</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_35' ng-model='selectedAges[ "35 - 44|3" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_35' localized>ages.35</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_45' ng-model='selectedAges[ "45 - 54|4" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_45' localized>ages.45</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_55' ng-model='selectedAges[ "55 - 64|5" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_55' localized>ages.55</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_65' ng-model='selectedAges[ "65 - 74|6" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_65' localized>ages.65</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_75' ng-model='selectedAges[ "75+|7" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_75' localized>ages.75</label>
    </div>

    <div class='col-sm-12'>
        <input id='ages_unknown' ng-model='selectedAges[ "Unknown|0" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='ages_unknown' localized>ages.unknown</label>
    </div>

</div>
