<div class='padding-top'>
    <div class='col-sm-12'>
        <input id='education.a' ng-model='selectedEducations[ "Completed High School|A" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='education.a' localized>education.a</label>
    </div>

    <div class='col-sm-12'>
        <input id='education.b' ng-model='selectedEducations[ "Completed College|B" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='education.b' localized>education.b</label>
    </div>

    <div class='col-sm-12'>
        <input id='education.c' ng-model='selectedEducations[ "Completed Graduate School|C" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='education.c' localized>education.c</label>
    </div>

    <div class='col-sm-12'>
        <input id='education.d' ng-model='selectedEducations[ "Attended Vocational/Technical|D" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='education.d' localized>education.d</label>
    </div>
</div>