<div class='padding-top'>
    <div class='col-sm-12'>
        <input id='travel' ng-model='selectedInterests[ "Travel|travel" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='travel' localized>interest.travels</label>
    </div>

    <div class='col-sm-12'>
        <input id='gambles' ng-model='selectedInterests[ "Gambles at Casino|gambles" ]' type='checkbox'/>
        <label class='pointer tiny-label' for='gambles' localized>interest.gambles.at.casino</label>
    </div>

</div>
