<div stripe></div>

<div class='phone-verification no-margin-bottom'
     ng-class='{"panel-danger": errorMessage}'>
    <div class='panel-heading' ng-if='errorMessage'>{{errorMessage}}</div>
    <div class='panel-body'>
        <form id="paymentForm">
            <input id="token" name="token" type="hidden" value="">

            <div class='center-align'>
                <label localized>Billing Information</label>
            </div>

            <div class='form-group'>
                <label class='payment-label-width block' localized>Amount</label>

                <input type="text"
                        ng-model='payment.amount'
                        ng-disabled='loading'
                        ng-keypress='filterValue($event)'
                        class="form-control payment-input">

                <div class="btn-group right" role="group">
                   <button type="button"
                            ng-click='setAmount(100)'
                            ng-disabled='loading || payment.amount == 100'
                            class="btn btn-default">$100</button>
                    <button type="button"
                            ng-click='setAmount(300)'
                            ng-disabled='loading || payment.amount == 300'
                            class="btn btn-default">$300</button>
                    <button type="button"
                            ng-click='setAmount(1000)'
                            ng-disabled='loading || payment.amount == 1000'
                            class="btn btn-default">$1000</button>
                </div>
            </div>

            <div class='form-group'>
                <label class='payment-label-width margin-top margin-bottom block' localized>Payment info</label>

                <div class='payment-label-content'>
                    <div id="card-element">
                    </div>

                    <!-- Used to display form errors -->
                    <div id="card-errors" role="alert" class='payment-error-message'></div>
                </div>
            </div>

            <div class='right-align padding-top'>
                <img ng-if='loading' class='margin-left' src='/assets/images/loading.gif'>

                <button type='button' class='btn btn-default'
                        ng-click="close()"
                        ng-disabled='loading'
                        localized>Cancel</button>

                <button type='submit' class='btn btn-default'
                        ng-click='doPayment()'
                        localized>Submit Payment</button>
            </div>
        </form>
    </div>
</div>
