<div class='padding-top'>
    <div class='margin-bottom'>
        <input class='form-control'
               placeholder='Search industry'
               ng-change='onFilterChanged()'
               ng-model='selectedIndustry.filter'>
    </div>

    <div class='col-sm-6'>
        <input id='industry_all' ng-model='selectedIndustry.all' ng-change='selectAll()' type='checkbox'/>
        <label class='pointer tiny-label' for='industry_all'>All</label>
    </div>

    <div class='col-sm-6' ng-repeat='industry in detailedBusinessIndustries'>
        <input id='{{industry.industry}}' ng-model='selectedIndustries[ industry.industry.toLowerCase() + "|" + industry.sic ]' type='checkbox'/>
        <label class='pointer tiny-label' for='{{industry.industry}}'>{{industry.industry.toLowerCase()}}</label>
    </div>

    <div class='center margin-bottom margin-top load-more' ng-if='selectedIndustry.limit < total'>
        <a class='pointer tiny-link'
           ng-click='loadMore()'
           localized>load.more</a>
    </div>

    <div ng-if='loading' class='center loading-wrapper'>
        <img src='/assets/images/loading.gif'>
    </div>
</div>
