<div class="modal fade" id="forgotPasswordModalDesktop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="width: 90%;margin-top: 5em;" class="modal-dialog" role="document">
        <div style="padding: 1em 1em 0em 1em" class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p style="font-family: 'Source Sans Pro SemiBold';color: #707070;font-size: 1em;margin-left: -0.4em" id="exampleModalLabel">Please enter your email and we will send you password recovery instructions</p>
                    </div>
                </div>

                <form onsubmit="myFunction()">
                    <div class="form-group" style="margin-right: 2em">
                        <input style="background-color: #EEEEEE;font-family: 'Source Sans Pro SemiBold';" ng-model='recover.email'
                               class="form-control text-transform-none" placeholder="Enter your email">
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="text-right">
                            <button data-dismiss="modal" style="font-family: 'Source Sans Pro SemiBold';" type="submit"
                                    ng-disabled='!recover.email' ng-click='recoverPassword()' class="login-button">Recover</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
