<div class="container-fluid padding-bottom-50">
    <div class="row">
        <div class="col-sm-12">
            <div class='content-with-max-width'>
                <div class='form-group'>
                    <button class='btn btn-default inline margin-right-15'
                            ng-disabled="loading"
                            ng-click='backupListsData()'>Backup lists data</button>

                    <img class='loading-gif-margin inline margin-right-15'
                         ng-if='loading'
                         src='/assets/images/loading.gif'>
                </div>
            </div>
        </div>
    </div>
</div>