<STYLE TYPE="text/css">
<!--
    @page { size: 8.5in 11in; margin: 1in }
    P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
-->
</STYLE>
<div class="end_user_agreement">
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=5><B>General Terms &amp;
            Conditions for&nbsp;Use MakeMyData.com</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>These general terms
            and conditions are part of the contract to which they are attached
            and apply to your use of any marketing or phone and email data or
            services provided by MakeMyData.com or its affiliated companies.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Limitations
            on Use.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%"><A NAME="_GoBack"></A>
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(a)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
            Unless specifically authorized in advance and in writing by
            MakeMyData.com, you will not share, sell, transfer or otherwise make
            the Data available to any third person or entity and you will use
            your best efforts to prevent the misuse or unauthorized use of the
            Data by any third person or entity.<BR></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(b)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
            You will not name or refer to MakeMyData.com or your use of the Data
            in any of your advertisements or promotional or marketing
            materials.<BR></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(c)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
            You will not use the Data for consumer credit purposes, raising
            investment money, gambling, underwriting consumer insurance,
            employment purposes, tenant screening purposes, for any other purpose
            covered by the federal Fair Credit Reporting Act or for any other
            purpose not expressly authorized by the Agreement.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Your
            Responsibilities; Use of Email Data; Review and Audit by
            MakeMyData.com.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(a)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
        Your use of the Data will comply with all applicable federal, state,
        local and foreign laws, statues, rules and regulations (“Laws”),
        including Laws regarding telemarketing, text messaging, email and
        facsimile marketing, customer solicitation, do-not-call lists, the
        use of automatic dialing equipment, and all applicable guidelines of
        the </FONT></FONT><FONT FACE="Times New Roman, serif">Telephone
        Consumer Protection Act of 1991 (TCPA) and the </FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Direct
        Marketing Association (“DMA”) and you shall be responsible for
        compliance in connection with your use of the Data. If you are not a
        member of the DMA, you will use your best efforts to comply with the
        DMA’s guidelines.<BR></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(b)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
        Your use of any email Data will comply with all applicable Laws,
        including the CAN-SPAM Act, COPPA, the Telephone Consumer Protection
        Act, and any State Registry laws.<BR></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(c)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
        You acknowledge that certain Data may include names and phone numbers
        that appear on one or more do-not-contact lists maintained by a
        federal, state, provincial, or other governmental entity or whose use
        may otherwise be regulated. You are responsible for subscribing to
        all applicable do-not-contact lists and you further agree to comply
        with all such relevant Laws, including those relating to any such
        do-not-contact lists.<BR></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>(d)</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
        MakeMyData.com reserves the right to review your use of the Data to
        ensure compliance with this Agreement, but any failure of
        MakeMyData.com to review such use will not constitute acceptance of
        such use or waive any of MakeMyData.com’s rights hereunder or limit
        any of your obligations with respect to the Data. At any time upon at
        least 3 days’ notice, MakeMyData.com may audit your records to
        determine whether you are in compliance with this Agreement and you
        will make available to MakeMyData.com or its representatives all
        records necessary for the conduct of such an audit.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Disclaimer
            of Warranties; Limited Warranty.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>THE DATA IS PROVIDED
            ON A STRICTLY “AS IS” BASIS. MAKEMYDATA.COM DOES NOT ASSURE OR
            WARRANT THE CORRECTNESS, COMPREHENSIVENESS OR COMPLETENESS OF THE
            DATA AND MAKEMYDATA.COM DISCLAIMS ANY AND ALL WARRANTIES OF ANY
            NATURE, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF
            MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. </FONT></FONT>
    </P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Limitation
            of Liability.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>MakeMyData.com will
            not be liable for any claim, demand, loss, liability, damage,
            injuries, cost or expense (including reasonable attorneys’ fees and
            legal costs), whether general, direct, special, incidental,
            consequential or other damage caused in whole or in part or directly
            or indirectly by any use of the Data or any alleged or actual failure
            by MakeMyData.com to comply with the terms of the Agreement, whether
            or not any such damages were foreseeable or whether MakeMyData.com
            was advised of the possibility of such damages. MakeMyData.com’s
            maximum liability under the last sentence of Section 5 will not
            exceed the amount you paid MakeMyData.com under the Agreement within
            the 12 months preceding the event which gave rise to MakeMyData.com’s
            liability.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Your
            Indemnification of MakeMyData.com.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>You shall indemnify,
            defend and hold harmless MakeMyData.com, its stockholders, directors,
            officers, employees, independent contractors and agents against any
            claim, demand, loss, liability, damage, injury cost or expense
            (including attorneys’ fees and legal costs) which arises, directly
            or indirectly, out of your act or omission with respect to the Data
            or any violation of the Agreement or any violation of Laws.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Interruption
            of Service.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>You acknowledge
            that, given the technical nature of resources MakeMyData.com requires
            to provide the Data to you, temporary interruptions may occur in the
            provision of Data and that any such interruptions shall not result in
            MakeMyData.com having any liability to you or others and shall not
            suspend or eliminate your payment obligations to MakeMyData.com or
            provide you with any refund rights for amounts previously paid to
            MakeMyData.com.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>No
            Assignment by You.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>You may not assign
            your rights or obligations under the Agreement to any other person or
            entity without the prior written consent of MakeMyData.com, whether
            by operation of law or otherwise, and any attempt to do so shall be
            void.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Additional
            Remedy of Termination.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>In addition to all
            other legal rights and remedies available to MakeMyData.com for any
            apparent, threatened or actual breach or violation of the Agreement
            by you, MakeMyData.com has the right to terminate the Agreement and
            demand immediate return or destruction of the Data at any time if
            MakeMyData.com believes you are not complying in full with the
            Agreement.</FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 13pt"><B>Governing
            Law; Jurisdiction.</B></FONT></FONT></P>
    <P STYLE="line-height: 130%">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=3>The Agreement shall
            be governed by and construed under the laws of the State of
            California, without regard for the principles of conflicts of law of
            that State or any other state. Any litigation or other dispute
            relating to or arising under the Agreement shall only be brought in
            the state or federal courts located in Orange County, California and
            you agree to submit to the exclusive jurisdiction of those courts and
            waive any objections to the venue of any such proceeding in those
            courts.</FONT></FONT></P>
    <P STYLE="margin-bottom: 0.11in"><BR><BR>
    </P>
</div>