<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div ng-class='{"huge-content-with-max-width": isAdmin || isManager, "big-content-with-max-width": !isAdmin && !isManager}'>
                <div class='margin-bottom'>
                    <input class='form-control inline-block'
                           ng-class='{"users-search-small": isAdmin, "users-search": isManager}'
                           ng-model='config.searchValue'
                           ng-change='searchByValue()'
                           localized-placeholder='Search users' >

                    <button class='btn btn-default inline-block margin-left-5 users-search-btn'
                            ng-if='isAdmin'
                            ng-disabled='!users || users.length === 0'
                            ng-click='emailUsers()'>Email</button>

                    <button class='btn btn-default inline-block users-search-btn'
                            ng-if='isAdmin || isManager'
                            ng-disabled='!users || users.length === 0'
                            ng-click='exportUsers()'>Export</button>

                </div>

                <table class='table'>
                    <thead>
                    <tr>
                        <th class='pointer nowrap'
                            ng-click='sortByField( "username" )'>
                            <span localized>Username</span>
                            <span ng-if='config.sortValue === "username" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "username" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "email" )'>
                            <span localized>Email</span>
                            <span ng-if='config.sortValue === "email" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "email" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "phone" )'>
                            <span localized>Phone</span>
                            <span ng-if='config.sortValue === "phone" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "phone" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap state-column'
                            ng-click='sortByField( "address" )'>
                            <span localized>State</span>
                            <span ng-if='config.sortValue === "address" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "address" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-if='isAdmin || isManager'
                            ng-click='sortByField("resellerId")'>
                            <span localized>Reseller</span>
                            <span ng-if='config.sortValue === "resellerId" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "resellerId" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "balance" )'>
                            <span localized>Balance</span>
                            <span ng-if='config.sortValue === "balance" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "balance" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "date" )'>
                            <span localized>Creation date</span>
                            <span ng-if='config.sortValue === "date" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "date" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "lastActivityDate" )'>
                            <span localized>Last activity date</span>
                            <span ng-if='config.sortValue === "lastActivityDate" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "lastActivityDate" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th class='pointer nowrap'
                            ng-click='sortByField( "noteStatus" )'>
                            <span localized>Status</span>
                            <span ng-if='config.sortValue === "noteStatus" && config.sortDesc' class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                            <span ng-if='config.sortValue === "noteStatus" && !config.sortDesc' class="glyphicon glyphicon-sort-by-attributes"></span>
                        </th>

                        <th localized
                            ng-class='{"actions-column-large-expanded": isAdmin || isManager, "actions-column-3": resellerNumber}'>lists.actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat='user in users'>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <input type='text'
                                   class='input-as-span'
                                   ng-model='user.phone'
                                   ui-us-phone-number
                                   disabled/>
                        </td>
                        <td><span class='state-column-value' tooltip='{{user.address}}'>{{user.address}}</span></td>
                        <td ng-if='isAdmin || isManager'>{{user.reseller}}</td>
                        <td>${{user.balance}}</td>
                        <td>{{getFormattedDate(user.date)}}</td>
                        <td>{{getFormattedDate(user.lastActivityDate)}}</td>
                        <td>{{getLocalizedStatus(user.noteStatus)}}</td>
                        <td>
                            <button ng-if='isAdmin || isManager || resellerNumber'
                                    ng-disabled='user.admin && user.id !== userId'
                                    type='button' class='btn btn-default' ng-click='editUser( user )'>
                                <span class='glyphicon glyphicon-pencil'></span>
                            </button>

                            <button ng-if='isAdmin || isManager || resellerNumber'
                                    type='button' class='btn btn-default' ng-click='showUserNote(user)'>
                                <span class='glyphicon glyphicon-comment'></span>
                            </button>

                            <button type='button' class='btn btn-default' ng-click='loginAsUser( user )'>
                                <span class='glyphicon glyphicon-log-in'></span>
                            </button>

                            <button ng-if='isAdmin || isManager'
                                    type='button' class='btn btn-default' ng-click='showPayments( user )'>
                                <span class='glyphicon glyphicon-usd'></span>
                            </button>

                            <button ng-if='isAdmin || isManager'
                                    ng-disabled='userId == user.id'
                                    type='button' class='btn btn-default' ng-click='removeUser( user )'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div ng-if='users && users.length === 0' class='center'>
                    <span localized>No users found</span>
                </div>

                <div ng-if='total > config.limit || true' class='right'>
                    <pagination boundary-links='true' class='pagination-sm'
                                max-size='3'
                                ng-change='search()'
                                ng-model='config.page'
                                total-items='total'
                                items-per-page='config.limit'
                                previous-text='&lsaquo;'
                                next-text='&rsaquo;'
                                first-text='&laquo;'
                                last-text='&raquo;'></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='hidden_frame' style='display:none'></div>

